In [3]:
test = "hello world"
print(test)

hello world

In [10]:
import pandas as pd 
import numpy as np
import csv as csv
import seaborn as sns

In [5]:
pseFull = pd.read_csv("hdx_hapi_refugees_pse.csv")
pseFull

,origin_location_code,origin_has_hrp,origin_in_gho,asylum_location_code,asylum_has_hrp,asylum_in_gho,population_group,gender,age_range,min_age,max_age,population,reference_period_start,reference_period_end
0,#country+code+origin,#meta+has_hrp+origin,#meta+in_gho+origin,#country+code+asylum,#meta+has_hrp+asylum,#meta+in_gho+asylum,#population_group+code,#gender+code,#age+range,#age+min,#age+max,#population,#date+start,#date+end
1,PSE,False,True,ALB,False,False,REF,f,0-4,0,4,0,2020-01-01,2020-12-31
2,PSE,False,True,ALB,False,False,REF,f,5-11,5,11,0,2020-01-01,2020-12-31
3,PSE,False,True,ALB,False,False,REF,f,12-17,12,17,5,2020-01-01,2020-12-31
4,PSE,False,True,ALB,False,False,REF,f,18-59,18,59,0,2020-01-01,2020-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29662,PSE,False,True,YEM,True,True,REF,m,12-17,12,17,85,2004-01-01,2004-12-31
29663,PSE,False,True,YEM,True,True,REF,m,18-59,18,59,76,2004-01-01,2004-12-31
29664,PSE,False,True,YEM,True,True,REF,m,60+,60,NaN,0,2004-01-01,2004-12-31
29665,PSE,False,True,YEM,True,True,REF,m,all,NaN,NaN,305,2004-01-01,2004-12-31
29666,PSE,False,True,YEM,True,True,REF,all,all,NaN,NaN,440,2004-01-01,2004-12-31

In [ ]:
#creating df with all age groups - split by sex 

pseAll_sexSplit = pseFull.loc[pseFull["age_range"] == "all"]
pseAll_sexSplit

#df with All age groups not split by sex 

pseAll = pseAll_sexSplit = pseAll_sexSplit.loc[pseAll_sexSplit["gender"] == "all"]
pseAll


#Citations
#https://www.statology.org/pandas-select-rows-based-on-column-values/

,origin_location_code,origin_has_hrp,origin_in_gho,asylum_location_code,asylum_has_hrp,asylum_in_gho,population_group,gender,age_range,min_age,max_age,population,reference_period_start,reference_period_end
13,PSE,False,True,ALB,False,False,REF,all,all,NaN,NaN,5,2020-01-01,2020-12-31
26,PSE,False,True,ARE,False,False,OOC,all,all,NaN,NaN,14,2020-01-01,2020-12-31
39,PSE,False,True,ARE,False,False,REF,all,all,NaN,NaN,15,2020-01-01,2020-12-31
52,PSE,False,True,ARG,False,True,ASY,all,all,NaN,NaN,10,2020-01-01,2020-12-31
65,PSE,False,True,ARG,False,True,REF,all,all,NaN,NaN,19,2020-01-01,2020-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29614,PSE,False,True,UKR,True,True,REF,all,all,NaN,NaN,5,2004-01-01,2004-12-31
29627,PSE,False,True,USA,False,False,ASY,all,all,NaN,NaN,15,2004-01-01,2004-12-31
29640,PSE,False,True,USA,False,False,REF,all,all,NaN,NaN,5,2004-01-01,2004-12-31
29653,PSE,False,True,YEM,True,True,ASY,all,all,NaN,NaN,149,2004-01-01,2004-12-31
29666,PSE,False,True,YEM,True,True,REF,all,all,NaN,NaN,440,2004-01-01,2004-12-31

In [ ]:
#plotting a barplot